<div
  class="{{ class }}"
  (drop)="drop($event)"
  draggable="true"
  (dragenter)="onDragEnter($event, class)"
  (dragleave)="onDragLeave($event)"
  [ngClass]="{ highlight: isHighlighted }"
  [ngStyle]="{
    'background-color':
      class == 'container' ? 'red' : class == 'row' ? 'blue' : 'pink'
  }"
  style="height: 100px"
>
  <div
    *ngFor="let element of droppedItems; trackBy: trackByComponentId"
    [ngClass]="element.data.class"
  >
    <div
      appRenderComponent
      [componentId]="element.componentId"
      [componentType]="element.componentType"
      [layoutData]="element.data"
    ></div>
  </div>
</div>
